@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  font-weight: 700; /* bold */
  font-style: normal; /* non-italic */
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .clip-path-custom {
    clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 95%, 0 100%);
  }
}
